/options/
/plugins_my/
/timer/
/silero_*
/.idea/
/plugins_inactive/plugin_tts_rhvoice.py
/rhvoice_temp.wav
/temp/
/plugins_inactive/plugin_tts_silero.py
*.pyc
pyrightconfig.json
/resources/model
/resources/
/model/